<div class="container mt-5">
    <div class="card shadow-lg p-4 text-center">
        <h2 class="mb-3">Rian Lucas</h2>
        <p class="text-muted">Admin</p>
        <div class="row mt-3">
            <div class="w-30">
                <a href="/aluno" class="btn btn-success btn-lg w-30 mb-2">Notas dos Alunos</a>
            </div>
        </div>
    </div>
</div>
