<div class="container mt-5">
    <div class="card shadow-lg p-4">
        <h2 class="text-center mb-4">Sitema de Notas</h2>
        
        <form method="post" action="/aluno/salvar">
            <div class="mb-3">
                <label for="nome" class="form-label">Nome Completo</label>
                <input type="text" class="form-control" name="nome" placeholder="Digite seu nome" required>
            </div>

            <div class="mb-3">
                <label for="email" class="form-label">E-mail</label>
                <input type="email" class="form-control" name="email" placeholder="Digite seu e-mail" required>
            </div>

            <div class="mb-3">
                <label for="telefone" class="form-label">Telefone</label>
                <input type="tel" class="form-control" name="telefone" placeholder="(99) 99999-9999" required>
            </div>

            <div class="mb-3">
                <label for="nota" class="form-label">Nota</label>
                <input type="number" class="form-control" name="nota" placeholder="Digite a nota do Aluno" required>
            </div>

            <div class="text-center">
                <button type="submit" class="btn btn-success w-20">Enviar Nota</button>
            </div>
        </form>
    </div>
</div>
